name: cd

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:

  streamlit:
    runs-on: ubuntu-20.04
    timeout-minutes: 4

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: setup Python version
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.10'
          cache: 'pip'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: streamlit run
        run: |
          # streamlit run src/streamlit_app.py --server.headless True
          python -m streamlit run src/streamlit_app.py http.server 1234
