name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:

  pre-commit:
    runs-on: ubuntu-20.04
    timeout-minutes: 4

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: setup Python version
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      # - name: install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt

      - name: run pre-commit action
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files
